/* Write your CSS here */
.speedometer-container {
  background-color: #07080c;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.speedometer-img {
  width: 60vw;
  height: 300px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 0px solid black;
}
.second-heading {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 10px;
}
.speed-description {
  color: #cbd5e1;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Roboto';
  margin-bottom: 10px;
}
.buttons-container {
  margin-top: 20px;
}
.accelerate-button {
  color: #ffffff;
  background-color: #0b69ff;
  padding: 5px;
  border-radius: 7px;
  height: 30px;
  width: 100px;
  border: 0px solid #0b69ff;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}
.apply-break-button {
  background-color: black;
  color: #cbd5e1;
  border: 2px solid #cbd5e1;
  padding: 5px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
